<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SNCustomNavigationController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4210650C1F595AAB002DDD95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>421065251F595AAB002DDD95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>421065301F595AAB002DDD95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
